.container{
    max-width: 350px;
    box-shadow: 0px 0px 40px 15px rgb(65, 67, 67);
    margin: 10vh auto 0 auto;
    border-radius: 25px;

    
    
    
    
}

#display{
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    background-color: black;
    color: white;
    border: 10px solid white;
    border-radius: 40px;
    
}

.buttons{
    display: grid;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 15px;
}

.buttons div {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
}

.button{
    border: 0.5px solid grey;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
}

#equal{
    background-color: rgb(0, 0, 255);
    color: azure;
}

.button:hover {
    background-color: rgb(8, 8, 8);
    color: white;
    transition: 0.2s ease-in-out;
    
}